@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--heroui-content1-200) transparent;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--hero-content1);
    border-radius: 10px;
  }

  @media (max-width: 768px) {
    * {
      scrollbar-width: none;
    }

    ::-webkit-scrollbar {
      display: none;
    }
  }
}

.scroll-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

body {
  @apply text-foreground bg-background;
}
